.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  padding: 0px 24px 0px 24px;
}

.logo {
  padding-right: 8px;
}
